<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Khan Academy Profile Viewer</title>
<link rel="stylesheet" type="text/css" href="/static_viewer/style.css" />
<link rel="stylesheet" type="text/css" href="/static_viewer/elements.css" />
</head>
<script type="text/javascript">
	function setIframeSource() {
		 
		 var measure_select = document.getElementById('measure_select');
		 var selectedMeasure = measure_select.options[measure_select.selectedIndex].value;

		 var users_select = document.getElementById('userSelect');
		 
		 selectedStudent = users_select.options[users_select.selectedIndex].value;
		 if(selectedStudent !=0)
		 {
			 measure_select.disabled = ''
		 }
		 else if(selectedStudent == 0)
		 {
			 measure_select.disabled = 'disabled'
			 measure_select.value = 0
		 }
		 
		 
		 if(selectedStudent != 0 && selectedMeasure != 0)
			 {
		     var profileFrame = document.getElementById('profileFrame');
		     var theUrl = '/display_profile?userKeyName=' + selectedStudent;
		     theUrl = theUrl + '&measure=' + selectedMeasure;
		     profileFrame.src = theUrl;			 
			 }		 
		 else{
		     // Se limpia el frame	     
		     var profileFrame = document.getElementById('profileFrame')
			 profileFrame.src = '/display_profile';
		 }
	}
</script>
<body>
<div id="main_container">
	<div id="header">
    	<div class="logo"><img src="/static_viewer/images/logo.png" border="0" alt="" title="" /></div>       
    </div>
        <div class="menu">
        	<ul>                                                                         
        		<li><a href="/menu_viewer">home</a></li>
        		{% if viewerUser.professor or viewerUser.student %} 
                	<li><a class="selected" href="/profile_viewer">user</a></li>
                {% endif %}
                {% if viewerUser.professor %} 
               		<li><a href="/class_viewer">class</a></li>
               	{% endif %}
                <li><a href="/about_viewer">about</a></li>
        	</ul>
        </div>
   <div class="center_content">
   <center>
	<table border="0" width="95%" align="center" >
		<tr>
			<td>

			</td>
			<td>
			                       	
		               <label for="users_select" >Select the student:</label>	               
		               <!-- Select de los usuarios de fisica -->
		               {% if viewerUser.professor %}
		   			   <select name="userSelect" id="userSelect" onchange="setIframeSource()">
		   			   		<option value="0"/>
		   					{% for studentUser in studentUsers %}
		    		        <option value="{{ studentUser.user_id }}">
		     	                {{ studentUser.user_id }} 
		                    </option>
		                    {% endfor %}
		                </select>
		                {% else %}
			               {% if viewerUser.student %}
			   			   <select name="userSelect" id="userSelect" onchange="setIframeSource()" disabled="disabled">
			   			   		<option value="{{viewerUser.user_id}}"> {{viewerUser.user_nickname}} </option>
			               </select>
			               {% endif %}
			            {% endif %}		           
			</td>
			<td>
			       <label for="measure_select" >Type of measure:</label>
	   			   <select name="measure_select" id="measure_select" onchange="setIframeSource()" {% if viewerUser.professor %} disabled="disabled" {% endif %}>
	   			   		<option value="0" selected="selected"/>
	   					{% for measure in measureList %}
	    		        <option value="{{ measure.code }}">
	     	                {{ measure.name }} 
	                    </option>
	                    {% endfor %}
	                </select>
			</td>
	     </tr>
	     <tr valign="middle">
	     	<td colspan="3" valign="middle">
			<iframe align="middle" id="profileFrame" src="/display_profile" frameborder="0" marginwidth="0" marginheight="0" width="100%" height="600 px"></iframe>
			</td>
		 </tr>	
	</table>
	</center>
    </div>
     
    <div id="footer">                                              
        <div class="left_footer"><pre>2014 Universidad Carlos III de Madrid. &copy; All rights reserved.                     Template provided by<a href="http://csstemplatesmarket.com">csstemplatesmarket.</a></pre></div>
        <div class="right_footer"><img src="https://developers.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" /></div>
    </div>
    
    
    
</div>
<!-- end of main_container -->

</body>
</html>